/.idea
.gradle/8.10.2/executionHistory/executionHistory.bin
.gradle/8.10.2/executionHistory/executionHistory.lock
.gradle/8.10.2/fileHashes/fileHashes.bin
.gradle/8.10.2/fileHashes/fileHashes.lock
.gradle/8.10.2/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/config.properties
.gradle/file-system.probe
.DS_Store
.DS_Store
/.gradle/8.11.1
.gradle/file-system.probe
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/8.11.1/fileHashes/resourceHashesCache.bin
.gradle/8.11.1/fileHashes/fileHashes.lock
.gradle/8.11.1/fileHashes/fileHashes.bin
.gradle/8.11.1/executionHistory/executionHistory.lock
.gradle/8.11.1/executionHistory/executionHistory.bin
*.probe
*.bin
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-207eb899-17ba-475e-926f-f6e87f2301ee/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidPluginAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-207eb899-17ba-475e-926f-f6e87f2301ee/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxActivityLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-207eb899-17ba-475e-926f-f6e87f2301ee/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxComposeLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-207eb899-17ba-475e-926f-f6e87f2301ee/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxCoreLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-207eb899-17ba-475e-926f-f6e87f2301ee/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxCredentialsLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-207eb899-17ba-475e-926f-f6e87f2301ee/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxCredentialsPlayLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-207eb899-17ba-475e-926f-f6e87f2301ee/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxCredentialsPlayServicesLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-207eb899-17ba-475e-926f-f6e87f2301ee/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxEspressoLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-207eb899-17ba-475e-926f-f6e87f2301ee/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-207eb899-17ba-475e-926f-f6e87f2301ee/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxLifecycleLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-207eb899-17ba-475e-926f-f6e87f2301ee/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxLifecycleRuntimeLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-207eb899-17ba-475e-926f-f6e87f2301ee/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxUiLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-207eb899-17ba-475e-926f-f6e87f2301ee/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxUiTestLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-207eb899-17ba-475e-926f-f6e87f2301ee/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxUiToolingLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-207eb899-17ba-475e-926f-f6e87f2301ee/classes/org/gradle/accessors/dm/LibrariesForLibs$BundleAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-207eb899-17ba-475e-926f-f6e87f2301ee/classes/org/gradle/accessors/dm/LibrariesForLibs$FirebaseAuthLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-207eb899-17ba-475e-926f-f6e87f2301ee/classes/org/gradle/accessors/dm/LibrariesForLibs$FirebaseLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-207eb899-17ba-475e-926f-f6e87f2301ee/classes/org/gradle/accessors/dm/LibrariesForLibs$GmsGooglePluginAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-207eb899-17ba-475e-926f-f6e87f2301ee/classes/org/gradle/accessors/dm/LibrariesForLibs$GmsPluginAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-207eb899-17ba-475e-926f-f6e87f2301ee/classes/org/gradle/accessors/dm/LibrariesForLibs$KotlinPluginAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-207eb899-17ba-475e-926f-f6e87f2301ee/classes/org/gradle/accessors/dm/LibrariesForLibs$PluginAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-207eb899-17ba-475e-926f-f6e87f2301ee/classes/org/gradle/accessors/dm/LibrariesForLibs$VersionAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-207eb899-17ba-475e-926f-f6e87f2301ee/classes/org/gradle/accessors/dm/LibrariesForLibs.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-207eb899-17ba-475e-926f-f6e87f2301ee/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidPluginAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-207eb899-17ba-475e-926f-f6e87f2301ee/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxActivityLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-207eb899-17ba-475e-926f-f6e87f2301ee/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxComposeLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-207eb899-17ba-475e-926f-f6e87f2301ee/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxCoreLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-207eb899-17ba-475e-926f-f6e87f2301ee/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxCredentialsLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-207eb899-17ba-475e-926f-f6e87f2301ee/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxCredentialsPlayLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-207eb899-17ba-475e-926f-f6e87f2301ee/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxCredentialsPlayServicesLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-207eb899-17ba-475e-926f-f6e87f2301ee/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxEspressoLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-207eb899-17ba-475e-926f-f6e87f2301ee/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-207eb899-17ba-475e-926f-f6e87f2301ee/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxLifecycleLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-207eb899-17ba-475e-926f-f6e87f2301ee/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxLifecycleRuntimeLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-207eb899-17ba-475e-926f-f6e87f2301ee/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxUiLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-207eb899-17ba-475e-926f-f6e87f2301ee/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxUiTestLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-207eb899-17ba-475e-926f-f6e87f2301ee/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxUiToolingLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-207eb899-17ba-475e-926f-f6e87f2301ee/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$BundleAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-207eb899-17ba-475e-926f-f6e87f2301ee/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$FirebaseAuthLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-207eb899-17ba-475e-926f-f6e87f2301ee/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$FirebaseLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-207eb899-17ba-475e-926f-f6e87f2301ee/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$GmsGooglePluginAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-207eb899-17ba-475e-926f-f6e87f2301ee/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$GmsPluginAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-207eb899-17ba-475e-926f-f6e87f2301ee/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$KotlinPluginAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-207eb899-17ba-475e-926f-f6e87f2301ee/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$PluginAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-207eb899-17ba-475e-926f-f6e87f2301ee/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$VersionAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-207eb899-17ba-475e-926f-f6e87f2301ee/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-207eb899-17ba-475e-926f-f6e87f2301ee/sources/org/gradle/accessors/dm/LibrariesForLibs.java
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-207eb899-17ba-475e-926f-f6e87f2301ee/sources/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock.java
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-e309ac53-1b7f-4c69-9912-751aa60cb147/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidPluginAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-e309ac53-1b7f-4c69-9912-751aa60cb147/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxActivityLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-e309ac53-1b7f-4c69-9912-751aa60cb147/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxComposeLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-e309ac53-1b7f-4c69-9912-751aa60cb147/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxCoreLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-e309ac53-1b7f-4c69-9912-751aa60cb147/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxCredentialsLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-e309ac53-1b7f-4c69-9912-751aa60cb147/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxCredentialsPlayLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-e309ac53-1b7f-4c69-9912-751aa60cb147/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxCredentialsPlayServicesLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-e309ac53-1b7f-4c69-9912-751aa60cb147/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxEspressoLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-e309ac53-1b7f-4c69-9912-751aa60cb147/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-e309ac53-1b7f-4c69-9912-751aa60cb147/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxLifecycleLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-e309ac53-1b7f-4c69-9912-751aa60cb147/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxLifecycleRuntimeLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-e309ac53-1b7f-4c69-9912-751aa60cb147/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxUiLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-e309ac53-1b7f-4c69-9912-751aa60cb147/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxUiTestLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-e309ac53-1b7f-4c69-9912-751aa60cb147/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxUiToolingLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-e309ac53-1b7f-4c69-9912-751aa60cb147/classes/org/gradle/accessors/dm/LibrariesForLibs$BundleAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-e309ac53-1b7f-4c69-9912-751aa60cb147/classes/org/gradle/accessors/dm/LibrariesForLibs$FirebaseAuthLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-e309ac53-1b7f-4c69-9912-751aa60cb147/classes/org/gradle/accessors/dm/LibrariesForLibs$FirebaseLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-e309ac53-1b7f-4c69-9912-751aa60cb147/classes/org/gradle/accessors/dm/LibrariesForLibs$GmsGooglePluginAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-e309ac53-1b7f-4c69-9912-751aa60cb147/classes/org/gradle/accessors/dm/LibrariesForLibs$GmsPluginAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-e309ac53-1b7f-4c69-9912-751aa60cb147/classes/org/gradle/accessors/dm/LibrariesForLibs$KotlinPluginAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-e309ac53-1b7f-4c69-9912-751aa60cb147/classes/org/gradle/accessors/dm/LibrariesForLibs$PluginAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-e309ac53-1b7f-4c69-9912-751aa60cb147/classes/org/gradle/accessors/dm/LibrariesForLibs$VersionAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-e309ac53-1b7f-4c69-9912-751aa60cb147/classes/org/gradle/accessors/dm/LibrariesForLibs.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-e309ac53-1b7f-4c69-9912-751aa60cb147/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidPluginAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-e309ac53-1b7f-4c69-9912-751aa60cb147/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxActivityLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-e309ac53-1b7f-4c69-9912-751aa60cb147/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxComposeLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-e309ac53-1b7f-4c69-9912-751aa60cb147/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxCoreLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-e309ac53-1b7f-4c69-9912-751aa60cb147/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxCredentialsLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-e309ac53-1b7f-4c69-9912-751aa60cb147/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxCredentialsPlayLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-e309ac53-1b7f-4c69-9912-751aa60cb147/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxCredentialsPlayServicesLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-e309ac53-1b7f-4c69-9912-751aa60cb147/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxEspressoLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-e309ac53-1b7f-4c69-9912-751aa60cb147/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-e309ac53-1b7f-4c69-9912-751aa60cb147/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxLifecycleLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-e309ac53-1b7f-4c69-9912-751aa60cb147/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxLifecycleRuntimeLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-e309ac53-1b7f-4c69-9912-751aa60cb147/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxUiLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-e309ac53-1b7f-4c69-9912-751aa60cb147/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxUiTestLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-e309ac53-1b7f-4c69-9912-751aa60cb147/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxUiToolingLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-e309ac53-1b7f-4c69-9912-751aa60cb147/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$BundleAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-e309ac53-1b7f-4c69-9912-751aa60cb147/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$FirebaseAuthLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-e309ac53-1b7f-4c69-9912-751aa60cb147/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$FirebaseLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-e309ac53-1b7f-4c69-9912-751aa60cb147/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$GmsGooglePluginAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-e309ac53-1b7f-4c69-9912-751aa60cb147/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$GmsPluginAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-e309ac53-1b7f-4c69-9912-751aa60cb147/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$KotlinPluginAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-e309ac53-1b7f-4c69-9912-751aa60cb147/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$PluginAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-e309ac53-1b7f-4c69-9912-751aa60cb147/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$VersionAccessors.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-e309ac53-1b7f-4c69-9912-751aa60cb147/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock.class
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-e309ac53-1b7f-4c69-9912-751aa60cb147/sources/org/gradle/accessors/dm/LibrariesForLibs.java
.gradle/8.10.2/dependencies-accessors/b5ca06cab069cd9cc42ffc84cb51b673f2c830da-e309ac53-1b7f-4c69-9912-751aa60cb147/sources/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock.java
app/build.gradle.kts
app/.gradle/config.properties
app/.idea/AndroidProjectSystem.xml
app/.idea/caches/deviceStreaming.xml
app/.idea/gradle.xml
app/.idea/migrations.xml
app/.idea/misc.xml
app/.idea/runConfigurations.xml
app/.idea/vcs.xml
app/build.gradle.kts
app/local.properties
build/reports/problems/problems-report.html
.gradle/8.11.1/executionHistory/executionHistory.bin
.gradle/8.11.1/executionHistory/executionHistory.lock
.gradle/8.11.1/fileHashes/fileHashes.bin
.gradle/8.11.1/fileHashes/fileHashes.lock
.gradle/8.11.1/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/file-system.probe
.gradle/8.11.1/executionHistory/executionHistory.bin
.gradle/8.11.1/executionHistory/executionHistory.lock
.gradle/8.11.1/fileHashes/fileHashes.bin
.gradle/8.11.1/fileHashes/fileHashes.lock
.gradle/8.11.1/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/file-system.probe
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxActivityLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxComposeLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxCoreLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxCredentialsLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxCredentialsPlayLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxCredentialsPlayServicesLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxEspressoLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxLifecycleLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxLifecycleRuntimeLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxUiLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxUiTestLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxUiToolingLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5/classes/org/gradle/accessors/dm/LibrariesForLibs$BundleAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5/classes/org/gradle/accessors/dm/LibrariesForLibs$FirebaseAuthLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5/classes/org/gradle/accessors/dm/LibrariesForLibs$FirebaseLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5/classes/org/gradle/accessors/dm/LibrariesForLibs$GmsGooglePluginAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5/classes/org/gradle/accessors/dm/LibrariesForLibs$GmsPluginAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5/classes/org/gradle/accessors/dm/LibrariesForLibs$KotlinPluginAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5/classes/org/gradle/accessors/dm/LibrariesForLibs$PluginAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5/classes/org/gradle/accessors/dm/LibrariesForLibs$VersionAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5/classes/org/gradle/accessors/dm/LibrariesForLibs.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidPluginAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxActivityLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxComposeLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxCoreLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxCredentialsLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxCredentialsPlayLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxCredentialsPlayServicesLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxEspressoLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxLifecycleLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxLifecycleRuntimeLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxUiLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxUiTestLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxUiToolingLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$BundleAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$FirebaseAuthLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$FirebaseLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$GmsGooglePluginAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$GmsPluginAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$KotlinPluginAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$PluginAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$VersionAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock.class
.gradle/8.11.1/executionHistory/executionHistory.lock
.gradle/8.11.1/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/file-system.probe
