.gradle/8.10.2/checksums/checksums.lock
.gradle/8.10.2/checksums/sha1-checksums.bin
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5-5a156123-ec86-49f4-bdce-14ddb10528b5/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidPluginAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5-5a156123-ec86-49f4-bdce-14ddb10528b5/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxActivityLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5-5a156123-ec86-49f4-bdce-14ddb10528b5/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxComposeLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5-5a156123-ec86-49f4-bdce-14ddb10528b5/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxCoreLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5-5a156123-ec86-49f4-bdce-14ddb10528b5/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxCredentialsLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5-5a156123-ec86-49f4-bdce-14ddb10528b5/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxCredentialsPlayLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5-5a156123-ec86-49f4-bdce-14ddb10528b5/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxCredentialsPlayServicesLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5-5a156123-ec86-49f4-bdce-14ddb10528b5/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxEspressoLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5-5a156123-ec86-49f4-bdce-14ddb10528b5/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5-5a156123-ec86-49f4-bdce-14ddb10528b5/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxLifecycleLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5-5a156123-ec86-49f4-bdce-14ddb10528b5/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxLifecycleRuntimeLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5-5a156123-ec86-49f4-bdce-14ddb10528b5/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxUiLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5-5a156123-ec86-49f4-bdce-14ddb10528b5/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxUiTestLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5-5a156123-ec86-49f4-bdce-14ddb10528b5/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxUiToolingLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5-5a156123-ec86-49f4-bdce-14ddb10528b5/classes/org/gradle/accessors/dm/LibrariesForLibs$BundleAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5-5a156123-ec86-49f4-bdce-14ddb10528b5/classes/org/gradle/accessors/dm/LibrariesForLibs$FirebaseAuthLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5-5a156123-ec86-49f4-bdce-14ddb10528b5/classes/org/gradle/accessors/dm/LibrariesForLibs$FirebaseLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5-5a156123-ec86-49f4-bdce-14ddb10528b5/classes/org/gradle/accessors/dm/LibrariesForLibs$GmsGooglePluginAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5-5a156123-ec86-49f4-bdce-14ddb10528b5/classes/org/gradle/accessors/dm/LibrariesForLibs$GmsPluginAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5-5a156123-ec86-49f4-bdce-14ddb10528b5/classes/org/gradle/accessors/dm/LibrariesForLibs$KotlinPluginAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5-5a156123-ec86-49f4-bdce-14ddb10528b5/classes/org/gradle/accessors/dm/LibrariesForLibs$PluginAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5-5a156123-ec86-49f4-bdce-14ddb10528b5/classes/org/gradle/accessors/dm/LibrariesForLibs$VersionAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5-5a156123-ec86-49f4-bdce-14ddb10528b5/classes/org/gradle/accessors/dm/LibrariesForLibs.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5-5a156123-ec86-49f4-bdce-14ddb10528b5/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidPluginAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5-5a156123-ec86-49f4-bdce-14ddb10528b5/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxActivityLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5-5a156123-ec86-49f4-bdce-14ddb10528b5/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxComposeLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5-5a156123-ec86-49f4-bdce-14ddb10528b5/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxCoreLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5-5a156123-ec86-49f4-bdce-14ddb10528b5/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxCredentialsLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5-5a156123-ec86-49f4-bdce-14ddb10528b5/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxCredentialsPlayLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5-5a156123-ec86-49f4-bdce-14ddb10528b5/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxCredentialsPlayServicesLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5-5a156123-ec86-49f4-bdce-14ddb10528b5/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxEspressoLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5-5a156123-ec86-49f4-bdce-14ddb10528b5/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5-5a156123-ec86-49f4-bdce-14ddb10528b5/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxLifecycleLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5-5a156123-ec86-49f4-bdce-14ddb10528b5/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxLifecycleRuntimeLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5-5a156123-ec86-49f4-bdce-14ddb10528b5/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxUiLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5-5a156123-ec86-49f4-bdce-14ddb10528b5/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxUiTestLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5-5a156123-ec86-49f4-bdce-14ddb10528b5/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxUiToolingLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5-5a156123-ec86-49f4-bdce-14ddb10528b5/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$BundleAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5-5a156123-ec86-49f4-bdce-14ddb10528b5/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$FirebaseAuthLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5-5a156123-ec86-49f4-bdce-14ddb10528b5/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$FirebaseLibraryAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5-5a156123-ec86-49f4-bdce-14ddb10528b5/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$GmsGooglePluginAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5-5a156123-ec86-49f4-bdce-14ddb10528b5/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$GmsPluginAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5-5a156123-ec86-49f4-bdce-14ddb10528b5/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$KotlinPluginAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5-5a156123-ec86-49f4-bdce-14ddb10528b5/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$PluginAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5-5a156123-ec86-49f4-bdce-14ddb10528b5/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$VersionAccessors.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5-5a156123-ec86-49f4-bdce-14ddb10528b5/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock.class
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5-5a156123-ec86-49f4-bdce-14ddb10528b5/metadata.bin
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5-5a156123-ec86-49f4-bdce-14ddb10528b5/sources/org/gradle/accessors/dm/LibrariesForLibs.java
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5-5a156123-ec86-49f4-bdce-14ddb10528b5/sources/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock.java
.gradle/8.10.2/dependencies-accessors/4d4309de7266957c5271db15bd92dc4d985b90d5/metadata.bin
.gradle/8.10.2/fileHashes/fileHashes.bin
.gradle/8.10.2/fileHashes/fileHashes.lock
.gradle/config.properties
.gradle/file-system.probe
.idea/assetWizardSettings.xml
.idea/caches/deviceStreaming.xml
.idea/CalorieCounterNew.iml
.idea/compiler.xml
.idea/deploymentTargetSelector.xml
.idea/gradle.xml
.idea/kotlinc.xml
.idea/migrations.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/workspace.xml
app/src/main/java/com/example/caloriecounternew/GoogleSignInClient.kt
local.properties
.idea/workspace.xml
/.idea
/.idea
.idea/workspace.xml
.idea/workspace.xml
